.pagination-wrapper {
    margin-top: 8px;
    /* z-index: 99999; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: relative;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.pagination a, .pagination span {
    display: block;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: var(--dark-accent);
    transition: background-color 0.3s ease;
}


.page-link {
    font-weight: bolder;
    cursor: pointer;
}

.pagination span:hover,
.pagination a:hover {
    background-color: var( --accent-color);
}

.pagination .active span {
    background-color: var(--dark-accent);
    color: #fff;
    border-color: var(--dark-accent);
}

@media (min-width: 375px) {
    .pagination {
        list-style: none;
        padding: 0;
        display: flex;
        /* gap: 10px; */
    }
    
    .pagination-wrapper {
        overflow: visible;
    }
    .pagination a, .pagination span {
        padding: 10px 10px;
    }
}