.pagination-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.pagination a, .pagination span {
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: var(--dark-accent);
    transition: background-color 0.3s ease;
}


.page-link {
    font-weight: bolder;
    cursor: pointer;
}

.pagination span:hover,
.pagination a:hover {
    background-color: var( --accent-color);
}

.pagination .active span {
    background-color: var(--dark-accent);
    color: #fff;
    border-color: var(--dark-accent);
}
