/* Classe principale pour afficher les résultats de recherche */
.results {
    /* background-color: var(--dark-accent); */
    background-color: var(--header-bg);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

/* Style pour le titre des résultats */
.results h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Style pour le nombre de résultats trouvés */
.results span {
    display: inline-block;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
}

/* Style pour la liste des suggestions */
.results ul {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
    list-style-type: disc;
}

/* Style pour chaque élément de la liste */
.results ul li {
    list-style:circle;
    font-size: 18px;
    font-weight: italic;
    margin-left: 20px;
    color: #ffffff;
}


.results p {
    text-align: left;
}