.search-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

/* Position relative sur le conteneur du formulaire */
form {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Input de recherche */
.search-input {
    width: 100%;
    height: 40px;
    padding: 0.5rem 2.5rem 0.5rem 1rem; /* Padding droit pour la loupe */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.search-input:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(var(--accent-color-rgb), 0.1);
}

/* Bouton de recherche */
/* Bouton de recherche */
.search-btn {
    position: absolute;
    right: 10px;
    background-color: #722F37; /* Nouvelle couleur header-bg */
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-btn .fas {
    font-size: 14px;
    background-color: #722F37; /* Nouvelle couleur header-bg */
}

.search-btn:hover .fas {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
    .search-container {
        padding: 0.5rem;
    }
    .search-input {
        font-size: 16px;
    }
}