/*
* Merci pour: https://codepen.io/yuhomyan/pen/XWdYJdv
*/
.search-container{
    /* position: fixed; */
    /* z-index: 909; */
    background: var(--color-white);
    border: 2px solid var(--color-black);
    /* height: 30px; */
    /* border-radius: 8px; */
    padding: 10px;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* cursor: pointer; */
    /* transition: 0.8s; */
    /* box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2); */
}

/* L'input s'élargit au focus ou au survol du conteneur de recherche. */
.search-container form:focus-within > .search-input,
.search-container:hover > .search-input,
.search-btn:focus + .search-input {
    /* width: 250px; */
    /* transition: width 0.3s ease; */
}

/* L'input reste élargi si la classe "expanded" est appliquée. */
.search-container.expanded > .search-input {
    width: 250px; 
    transition: none; 
}

.search-container .search-input{
    background: transparent;
    border: 1px solid var(--dark-accent);
    /* outline:none; */
    /* width: 0px; */
    font-weight: 500;
    font-size: 16px;
    /* transition: 0.8s; */

}

.search-container .search-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .search-container:hover{
    padding: 10px 20px;
} */

/*icônes de bouton*/
.search-container .search-btn .fa,
.search-container .search-btn .fas{
    font-size: 18px;
}
.search-container .search-btn .fas {
    color: var(--accent-color);
}
.search-container .search-btn .fa {
    color: rgb(137, 64, 64);
}


/*Écran plus grand*/
@media (min-width: 500px) {
    /* .search-container form:focus-within > .search-input,
    .search-container:hover > .search-input,
    .search-btn:focus + .search-input {
    width: 400px;
    transition: width 0.3s ease;
    } */
    .search-container.expanded > .search-input {
        width: 400px; 
        transition: none;
    }
}