

.alert {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 20px 25px;
    border-radius: 10px;
    color: #6b7384;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    animation: slideDown 0.5s ease-in-out;
}

.alert.error {
    background-color: var(--error-color);
    color: white;
}
.alert.success {
    background-color: #4caf50;
    color: white;
}

.alert.warning {
    background-color: var(--warning-color);
    color: var(--color-black);
}

.alert ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.alert li {
    margin: 5px 0;
}

.btn-close {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 8px;
    background: #4f4f4f;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    outline: none;
}

.btn-close:hover {
    color: #cf5113;
    background-color: rgb(155, 155, 155);
}

/*
*Style pour cacher le modal
*/
.hide {
    display: none !important;
}

/* Animation de glissement vers le bas */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}


@media only screen and (min-width: 900px) {
    .alert {
        width: 50%;
    }
}