
/* .header {
    background-color: var(--color-primary);
    color: white;
    padding: var(--spacing-medium);
    text-align: center;
    font-size: 1.5em;
} */

.header {
    background-color: var(--header-bg);
    color: white;
}

.header .logo img {
    width: 80px;
}s
.welcome-user p{ 
    color: white;
}
.welcome-user span{ 
    color: var(--accent-color);
}

