.scraping-controls .btn-container {
    justify-content: space-evenly;
}

.scraping-controls {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.scraping-process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.scraping-controls h2, p {
    text-align: center;
    font-weight: bold;
}


.scraping-controls p {
    font-size: 20px;
}