
header {
    height: var(--header_height);
    border-bottom: var(--black) var(--one) solid;
}

.home_header {
    padding-top: var(--large_padding);
    padding-bottom: var(--small_padding);
    display: flex;
    justify-content: center;

    & h1 {
        font-size: var(--extra_large_font);
    }
}

.search_header {
    padding-top: var(--small_padding);
    padding-left: var(--extra_small_padding);
    padding-right: var(--extra_small_padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}