.card_bottle {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    background-color: var(--color-gray);
    border-radius: 15px;
    padding: var(--spacing-medium);
    text-align: center;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
}

/* le corps de la carte*/


/* Image de la bouteille */
.card_bottle picture img {
    max-width: 100px;
    height: auto;
}

/* Titre de la carte */
.card_bottle .card-title h2 {
    font-size: 1.2em;
    color: #fff;
}

/* Section des détails de la carte */
.card_bottle .card-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 1em;
}

/* Ligne de séparation */
.card-category .line {
    height: 1px;
    rotate: 90deg;
    width: 20px;
    background-color: #fff;
}

/* Style du prix */
.card_bottle .price {
    color: var(--color-accent);
    font-size: 1.2em;
    font-weight: bold;
}
