.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-med);
}

.mb-3 {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-med);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-med);
}

.mb-3 > label {
    font-weight: var(--font-weight-light);
}

.mb-3 > input {
    border-radius: var(--border-radius-x-small);
}

.form > form {
    min-width: var(--box-size-x-large);
    padding: var(--spacing-med);
    border: var(--border-weight-small) solid var(--color-black);
    border-radius: var(--border-radius-small);
}

.new_member {
    text-decoration: underline;
    color: var(--color-blue);
}

.register_btn {
    min-height: var(--box-size-small);
    width: 100%;
    border: var(--border-weight-small) solid var(--color-primary);
    border-radius: var(--border-radius-small);
}