form {
    background-color: var(--color-white);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-med);
    border-top: var(--border-weight-med) solid var(--color-black);
    padding-top: var(--spacing-med);
}

.form > form {
    min-width: var(--box-size-x-large);
    width: var(--box-size-mega);
    padding: var(--spacing-med);
    border: var(--border-weight-small) solid var(--color-black);
    border-radius: var(--border-radius-small);
}

.alert_msg {
    background-color: var(--color-alert);
    color: var(--color-white);
    font-size: var(--font-size-small);
    padding: var(--spacing-x-small);
    border-radius: var(--border-radius-x-small);
}


.new {
    font-size: var(--font-size-med);
}

.new_member {
    padding-left: var(--spacing-x-small);
    text-decoration: underline;
    color: var(--color-blue);
}

