/* Header */
header {
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing-large);
    min-height: var(--box-size-med-large);
    border-bottom: var(--border-weight-med) solid var(--color-black);
}

.logo {
    
    &h1 {
        text-align: center;
        color: var(--color-text);
    }
}