/* Navigation */
.navigation {
    display: flex;
    justify-content: space-around;
    padding: var(--spacing-medium);
    background-color: white;
    border-top: 1px solid #ccc;
}

.nav-button {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-text);
}

.nav-button.active {
    color: var(--color-primary);
    font-weight: bold;
}