:root {
    --gradient-btn-bg: linear-gradient(90deg, #164a99 0%, #80454a 100%);
    --general-btn-bg: rgb(91, 105, 147);
    --btn-accent-color: #e7a18e;
    --general-btn-color: white;
    --btn-no-border: #5a4e83;
    --btn-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --scail-main: 0.9;
}

/*Enveloppe de bouton*/
.btn-container {
    display: flex;
    gap:5px;
    width: 100%;
}

.btn-container a {
    width: 100%;
}

/*Bouton général*/
.btn {
    /* padding: 20px; */
    /* background: var(--general-btn-bg); */
    /* color: var(--general-btn-color); */
    /* border: none; */
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    /* text-decoration: none; */
    /* transition: 1s; */
    box-shadow: var(--btn-shadow);
    /* width: 100%; */
}

/*Le bouton sans bordure*/
.btn-border {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--accent-color);
    background: var(--color-gray);
    color: var(--accent-color);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.btn-remove {
    border: 2px solid var(--error-color);
    /* background: var(--color-white); */
    color: var(--error-color);
    /* background: none; */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* color: var(--color-accent); */
    font-size: 20px;
    /* border: 4px solid var(--color-accent); */
    transition: all 1s;
}

.btn-go {
    border: 2px solid var(--success-color);
    color: var(--color-white);
    background-color: var(--success-color);
}

/* Hover effect for the link */
.btn-border:hover {
    background-color: var(--accent-color);
    color: #fff;
}

/*survol - Bouton général*/
.btn:hover {
    scale: 0.9;
    color: rgb(255, 255, 255);
}

/*Le bouton avec une icône*/
.btn-icon {
    background: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--accent-color);
    font-size: 20px;
    border: 4px solid var(--accent-color);
    transition: all 1s;
    padding: 10px;
    width: fit-content;
}
/*survol - Le bouton avec une icône*/
.btn-icon:hover {
    background: var(--accent-color);
    color: white;   
}

/* liens */
.link {
    color: var(--accent-color);
    font-weight: bold;
    transition: all 1s;
}

.link:hover {
    color: rgb(237, 143, 11);
}