.info-grid {
    background: var(--color-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    gap: 5px;
}

.info-item {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid var(--darkest-accent); */
}

.info-item:last-child {
    border-bottom: none;
}

.info-item .info-label {
    font-weight: bold;
}


span.info-value {
    width: 50%;
    text-align: right;
}