:root {
    --general-title: #5d5d5d;
    --accent-color: #f9b825;
    --dark-accent: #6b7384;
    --components-bg: white;
    --header-bg: #6b7384;
    --color-alert: #FF0000;
    --error-color: #c58989;;
    --color-white: #f4f4f4;
    --success-color: rgb(85, 165, 85);
    --font-size-small: 12px;
    --spacing-x-small: 4px;
    --border-radius-x-small: 2px;
}

/*Arrière-plan*/
body {
    background-color: #dfdfdf;
}

.bg-success {
    background-color: var(--success-color) !important;
}
.bg-danger {
    background-color: var(--error-color) !important;
}