@import url(languages.css);

:root {
    --nav-bg: gray;
    --nav-color: white;
}

body {
    margin: 0;
    /* padding-bottom: 100px; */
    min-height: 100vh;
    position: relative;
}

main {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--header-bg);
    /* border-top: 1px solid #ccc; */
    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    position:sticky;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--nav-color);
    transition: color 0.3s ease;
}

.nav-link i {
    font-size: 40px;
}

.nav-link img {
    width: 60px;
    height: auto;
    margin-bottom: 5px;
}

.nav-link.active {
    color: var(--accent-color);
    font-weight: bold;
}

.navigation p {
    color: var(--color-white);
    font-size: 0.7em;
    font-weight: bold;
}
@media (hover: hover) {
    .nav-link:hover {
        color: var(--color-primary);
    }
}

@media screen and (max-width: 768px) {    
    .navigation {
        padding: 10px;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    .navigation {
        padding: 5px;
    }
}