
.card_cellar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--header-bg);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}