:root {
    --label-color: #6b7384;
    --general-form-bg: #f5f5f5;
    --input-radius: 8px;
}
/* Style général pour le formulaire */
.form {
    width: 90%;
    background-color: var(--general-form-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Style pour le contrôle de formulaire */
.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Style pour les étiquettes (labels) */
.form-control label {
    font-weight: bold;
    color: var(--label-color);
    font-size: 20px;
    margin-bottom: 5px;
}

/* Style pour les champs input, textarea et select */
.form-control input,
.form-control textarea,
.form-control select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: var(--input-radius);
    font-size: 1em;
    color: #555;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Effet de focus pour les champs input, textarea et select */
.form-control input[type="text"]:focus,
.form-control textarea:focus,
.form-control select:focus {
    border-color: var(--accent-color);
}

/* Style spécifique pour le textarea */
.form-control textarea {
    resize: vertical;
    min-height: 80px;
}

/* Style pour le menu déroulant (select) */
.form-control select {
    appearance: none; /* Supprime le style par défaut du select */
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%238a5b25" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 35px;
    cursor: pointer;
}

/* Style pour le bouton */
.form button {
    width: 100%;
}


/*form footer*/
.form_footer {
    margin: 0 auto;
    text-align: center;
    background-color: var(--general-form-bg);
    padding: 20px;
    border-radius: 10px;
}

.form_footer {
    font-weight: normal;
    color: var(--color-black);
}

.form_footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-blue);
}

.alert_msg {
    margin-top: 5px;
    background-color: var(--error-color);
    /* padding: 10px; */
    color: var(--color-white);
    font-weight: normal;
    font-size: 14px;
    /* font-size: var(--font-size-small); */
    padding: 10px;
    border-radius: var(--input-radius);
}

/* Grands écrans (ordinateurs de bureau) */

@media (min-width: 700px) {
    .form_footer,
    .form {
        width: 450px;
    }

    .form  {
        padding: 30px;
    }
}