/* BUTTON */
.btn {
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1em;
  }
  
  .btn-add {
    background-color: var(--color-accent);
  }