.filter-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }
  
  .filter-box i {
    font-size: 24px;
    color: var(--accent-color);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .filter-box:hover i {
    transform: rotate(15deg);
  }
  
  .filter-options {
    display: none;
   
    position: absolute;
    top: 25px;
    left: -20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    min-width: 280px;
  }
  
/* section de filtrage*/
.filter-section {
  flex: 1;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
}
  
  .filter-box:hover .filter-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .filter-item {
    margin-bottom: 10px;
  }
  
  .filter-item:last-child {
    margin-bottom: 0;
  }
  
  .filter-item label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-black);
  }
  
  .filter-item select {
    width: 100%;
    padding: 8px 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    font-weight: bold;
    
    color: var(--general-title);
    border-radius: 4px;
    text-align: center;
    background-color: #f9f9f9;
    appearance: none;
  }
  
  .filter-item select:focus {
    outline: none;
    background-color: #ffffff;
  }
  
  .filter-box:hover .filter-options select {
    background-color: #ffffff;
  }
  
