
.hidden {
  display: none;
}



/* Media Queries */

/* Extra-Small Screens (max-width: 480px) */
@media (max-width: 480px) {
  .header {
    font-size: 1.25em;
  }

  .home {

  }

  .collection-info {
    flex-direction: column;
    align-items: flex-start;
  }


  /*

  .nav-button {
    margin-bottom: var(--spacing-small);
  } */
}
  
/* Small Screens (max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  body {

  }

  main {
  }

  .header {
    font-size: 1.35em;
  }

  .home {

  }

  .cellars {

  }

  .bottles {

  }

  .login {

  }

  .register {

  }

  .edit {
  
  }

  .create {
 
  }

  

  .collection-info {
      flex-direction: row;
      justify-content: space-between;
  }

  .btn {
      font-size: 1em;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-around;

  }

  .nav-button {
      margin-bottom: 0;
  }

  /* FIXME: */
  .grid {
    display: grid;
    grid-template-columns: auto auto;
}
}
  