@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Poppins", serif;
    font-style: normal;
}

:root{ 
    --title-size: 30px
}


.page-title {
    color: var(--general-title);
    font-size: 30px;
    text-align: center;
}


.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
}

.section-title h1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    position: relative;
    background: linear-gradient(90deg, #722f37, #1a3d6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* Cool Underline Effect */
.section-title h1::after {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background: linear-gradient(90deg, #722f37, #1a3d6e);
    margin: 0.5rem auto 0;
    border-radius: 2px;
    transition: width 0.3s ease-in-out;
}

/* Hover Effect */
.section-title:hover h2 {
    transform: scale(1.05);
}

.section-title:hover h2::after {
    width: 80%;
}
