/* Header */
header {
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing-large);
    min-height: var(--box-size-large);
    border-bottom: var(--border-weight-med) solid var(--color-black);
}

.logo {
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-light);
    text-align: center;
    color: var(--color-text);
}