/* Root variables for consistent spacing and colors */
:root {
    --color-primary: #52CE65;
    --color-secondary: #f4f4f4;
    --color-gray: #B2B3B4;
    --color-gray-light: #DDDDDD;
    --color-black: #000000;
    --color-text: #000000;
    --color-accent: #ff5733;
    --color-alert: #FF0000;
  
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-button: 26px;
    --font-size-title: 36px;
    --font-weight-base: bold;
    --font-weight-button: normal;
    --font-weight-title: bolder;
    --font-weight-light: lighter;

    --spacing-small: 8px;
    --spacing-med: 16px;
    --specing-med-large: 36px;
    --spacing-large: 48px;


    --border-radius: 16px;
    --border-weight-small: 1px;
    --border-weight-med: 2px;

    --box-size-med-large: 128px;
  }

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
}

html, body {
  margin: 0;
  height: 100%;
}


body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


