/* Root variables for consistent spacing and colors */
:root {
    --color-primary: #52CE65;
    --color-secondary: #CEDBE5;
    --color-gray: #B2B3B4;
    --color-gray-light: #DDDDDD;
    --color-black: #000000;
    --color-blue: #1C0EEC;
    --color-white: #f4f4f4;
    --color-text: #000000;
    --color-accent: #ff5733;
    --color-alert: #FF0000;
  
    --font-family: 'Arial', sans-serif;
    --font-size-base: 36px;
    --font-size-button: 48px;
    --font-size-title: 54px;
    --font-size-logo: 74px;
    --font-weight-base: bold;
    --font-weight-button: normal;
    --font-weight-title: bolder;
    --font-weight-light: lighter;

    --spacing-small: 8px;
    --spacing-med: 16px;
    --spacing-med-large: 36px;
    --spacing-large: 74px;
    --spacing-x-large: 128px;


    --border-radius-x-small: 2px;
    --border-radius-small: 8px;
    --border-radius: 16px;
    --border-weight-small: 2px;
    --border-weight-med: 5px;

    --box-size-small: 28px;
    --box-size-med: 74px;
    --box-size-med-large: 128px;
    --box-size-large: 256px;
    --box-size-x-large: 292px;
    --box-size-mega: 512px;
  }

/* Body CSS */
body {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding-left: var(--spacing-med-large);
  padding-right: var(--spacing-med-large);
}



