:root {
    --card-bg: #112d55;
}
/* Conteneur de la carte */
.card_bottle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #333;
    font-family: 'Georgia', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /*annimation*/
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

/* le corps de la carte*/
.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Image de la bouteille */
.card_bottle picture img {
    max-width: 80px;
    height: auto;
}

/* Titre de la carte */
.card_bottle .card-title h2 {
    /* width: 70%; */
    font-size: 1em;
    /* color: #fff; */
    text-align: left;
}

/* Section des détails de la carte */
.card_bottle .card-category {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    font-weight: bolder;
    color:  #4b4b4b;
    font-size: 0.8em;
}

.card_bottle a {
    width: 100%;
}

/* .card-category .line:last-child,
.card-category p:last-child {
    display: none;
} */
/* .card-list {
    color: white;
} */

/* Ligne de séparation */
.card-category .line {
    height: 2px;
    rotate: 90deg;
    width: 20px;
    background-color: #4b4b4b;
}

/* Style du prix */
.card_bottle .price {
    color: var(--accent-color);
    font-size: 1.2em;
    font-weight: bold;
}

form.cart {
    position: absolute;
    right: 0;
    padding-right: 10px;
}





@media only screen and (min-width: 600px) {
    .card_bottle {
        flex-direction: column;
    }
    .card_bottle .card-category {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
    }
    .card_bottle .card-title h2 {
      width: 100%;
    }
    .card-category .line:last-child,
    .card-category p:last-child {
        display: block;  
    }

    .card_bottle picture img {
        max-width: 100px;
    }
  }




/*animations*/

.card_bottle:nth-child(1) {
    animation: fadeIn 1s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(2) {
    animation: fadeIn 1.2s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(3) {
    animation: fadeIn 1.4s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(4) {
    animation: fadeIn 1.6s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(5) {
    animation: fadeIn 1.8s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(6) {
    animation: fadeIn 2s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(7) {
    animation: fadeIn 2.1s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(8) {
    animation: fadeIn 2.2s ease-in-out forwards; 
    opacity: 0;
}

.price {
    font-weight: bold;
}