:root {
    --card-bg: #6b7384;
}
/* Conteneur de la carte */
.card_bottle {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--dark-accent);
    border-radius: 15px;
    padding: 20px 0 20px 0;
    text-align: center;
    color: var(--color-black);
    font-family: 'Georgia', serif;
    /* box-shadow: 0 4px 8px var(--color-black); */

    /*annimation*/
    /* animation: fadeIn 1s ease-in-out forwards; */
    /* opacity: 0; */
}

/* le corps de la carte*/
.card-body {
    margin-right: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.card_bottle picture {
    display: flex;
}

/* Image de la bouteille */
.card_bottle picture img {
    margin-left: 20px;
    flex: 1;
    max-width: 100px;
    height: auto;
}

/* Titre de la carte */
.card_bottle .card-title h2 {
    font-size: 1.2em;
    color: var(--color-white);
}

/* Section des détails de la carte */
.card_bottle .card-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    font-size: 1em;
}

.card-list {
    color: var(--color-white);
}

/* Ligne de séparation */
.card-category .line {
    height: 1px;
    rotate: 90deg;
    width: 20px;
    background-color: var(--color-white);
}

/* Style du prix */
.card_bottle .price {
    color: var(--accent-color);
    font-size: 1.2em;
    font-weight: bold;
}


/*animations*/

/* .card_bottle:nth-child(1) {
    animation: fadeIn 1s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(2) {
    animation: fadeIn 1.2s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(3) {
    animation: fadeIn 1.4s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(4) {
    animation: fadeIn 1.6s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(5) {
    animation: fadeIn 1.8s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(6) {
    animation: fadeIn 2s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(7) {
    animation: fadeIn 2.1s ease-in-out forwards; 
    opacity: 0;
}
.card_bottle:nth-child(8) {
    animation: fadeIn 2.2s ease-in-out forwards; 
    opacity: 0;
} */

.price {
    font-weight: bold;
}