/* Home Section */
.home {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: inherit;
}

.welcome {
    min-height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.welcome-title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    margin-bottom: var(--spacing-med-large);
    text-align: center;
}

.welcome-buttons {
    flex: 3;
    border-top: var(--border-weight-med) solid var(--color-black);
    padding-top: var(--spacing-med);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-small);
}

.welcome-buttons > button {
    flex: 1;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    height: var(--box-size-med);
    min-width: 72px;
    text-align: center;
}

.button-login {
    background-color: var(--color-gray);
    border: var(--border-weight-med) solid var(--color-black);
    
}

.button-register {
    background-color: var(--color-gray-light);
    border: var(--border-weight-med) solid var(--color-accent);
    color: var(--color-black);
}

.button-register > a {
    color: var(--color-accent);
}



